/*
    la tipografia es la ciencia que estudia
    el diseño y uso de los tipos de letra

    las fuentes son tipos específicos de letra

    los glifos son cada uno de los dibujos
    que representan cada símbolo de la fuente
    incluidos los espacios.

    Familia tipográfica, son las diferentes fuentes
    que pertenecen a una misma base.

    Cuando usamos una propiedad text-* estamos afectando
    a un bloque completo

    Cuando usamos una propiedad font-* afectamos a la fuente
    del texto.

    Fuentes predeterminadas, son las fuentes que se consideran 
    seguras ya que son genéricas y no establecen una familia
    tipográfica, si no un estilo de fuente.
        serif: fuentes que contienen serifas(adornos
        en los caracteres)
        sans:serif: Fuentes sin serifas
        monospace: Fuentes que tienen el mismo
        espaciado entre todos sus caracteres.
        cursive: fuentes
        
        Fuentes desde un servidor remoto, son las
        fuentes que se encuentran en un servidor remoto
        y que nosotros descargamos para su uso, la más 
        famosa es Google fonts

        Siempre que utilicemos fuentes no genéricas, debemos
        poner fuentes genéricas de fallback(respaldo)

        Google Icons
            
            Material Icons

                https://fonts.googleapis.com/css?family=Material+Icons


                https://fonts.googleapis.com/css?family=Material+Icons
                +Outlined


                https://fonts.googleapis.com/css?family=Material+Icons
                +Two+Tone


                https://fonts.googleapis.com/css?family=Material+Icons
                +Round

                https://fonts.googleapis.com/css?family=Material+Icons
                +Sharp

            Nota: Si vas a usar una gran cantidad de iconos en tu web
            compensa usar la libreria remota
            Si sólo usarás unos pocos es mejor descargarlos en formato
            svg y utilizarlos como imágenes

    
    
*/

*{
    box-sizing: border-box;
    }
body{
    background-color: #333333;
    color: #722222;
    font-weight: 400;
}
.text{
    font-family: 'Roboto', sans-serif;

}
.icon{
    font-size: 5rem;
}