/*
    La mas usuada es px(pixeles)
    
    las medidas relativas SIEMPRE dependen de un contexto son las que se recomienda
    utilizar en la gran mayoría de ocaciones porque nos van a permitir que todos los 
    elementos escalen proporcionalmente.
    las más usadas son em, rem, %, vw, vh, vmin  vmax aunque tenemos otrás com:
        ex -> Altura x de la fuente del elemento.
        ch -> la medida del ancho del glifo"0" de la letra del elemento
        lh -> altura de la linea del elemento
        
        rem -> Corresponde a la medida de la "m" de la raiz del documento (html).
        
        em -> Corresponde a la medida de la "m" del contexto donde nos encontremos

        El estandar del tamaño de fuente por defecto en la raiz  del documento es 
        16px, y NO ES RECOMENDABLE MODIFICARLO.

        Nota: Tanto "em" como "rem" se calcula en base a la
        propiedad font-size (tamaño de fuente)

        % -> cuando usamos porcentaje usamos de referencía el tamaño del contenedor y el 
        navegador calcula ese porcentaje. Esto no ocurre cuando usamos transform.

        auto -> Cuando usamos auto le pedimos al navegador que calcule en funcion del espacio 
        disponible.

        HEIGHT:
          % -> Cuando estamos dentro de un contenedor,
          este tiene que tener un alto declarado, si no
          no podra calcular el porcentaje. Si se le aplica
          una medida con porcentaje se sustituira
          automaticamente por auto.
          
          auto -> Cuando utilizamos auto el alto lo calculará
          el navegador en base al contenido del elemento.


        Nota: Height es una propiedad que tienes que usar con 
        mucho cuidado. Si no es necesario establecer un alto,
        dejar que el contenido sea el que decida el alto del 
        elemento.

        VIEWPORT:
          El viewport es el área útil donde se mostrará la página
          web. IMPORTANTE, tener en cuenta que es el área visible
          sin hacer scroll.
          Podemos usar el viewport como medída de varias formas:
            vw -> Viewport Width, hace referencia al ancho del 
            viewport.
            vh -> Viewport Height, hace referencia al alto del 
            viewport.
            vmax -> Utiliza el valor más grande entre el ancho y
            el alto del viewport.
            vmin -> Utiliza el valor más pequeño entre el ancho y
            el alto del viewport.

            1vw = 1% del ancho del viewport
            1vh = 1% del alto del viewport
            1vmin = 1% del valor que sea más pequeño del viewport
            1vmax = 1% del valor que sea más grande del viewport







*/
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #777;
  
}
.header{
  background-color: brown;
  text-align: center;
  
}
.link {
  display: inline-block;
  width: 12em;
  margin: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: aliceblue;
  color: #333;
  font-size: 1em;
  text-align: center;
  margin-bottom: 50px;
}
.box {
  margin-top: 100px;
  width: 300px;
  height: 300px;
  background-color: lightgreen;
}
.box-children {
  position: sticky;
  top: 0;
  width: 100vmax;
  
  height: 150px;
  background-color: lightseagreen;
}
