/*
  El stacking context o el contexto de apilamiento es el 
  espacio donde nuestros elementos se van a ir apilando para
  que unos queden por detras y otros por delante

  El orden del staking context es: (de delante a atras):
    Elementos posicionados con un z-index de 1 ó más
    Elementos posicionados sin z-index declarado (o z-index:auto)
    Elementos no posicionados
    Elementos con z-index negativo
*/
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(127, 255, 185);
  margin: 5px;
}
.box {
  width: 100px;
  height: 100px;
  text-align: center;
  color: #333;
  margin-bottom: -50px;
}
.box-1 {
  background-color: rgb(255, 4, 54);
  position: relative;
  z-index: 1;
}
.box-2 {
  background-color: rgb(255, 0, 242);
  position: relative;
  z-index: -5;
}
.box-3 {
  background-color: cornflowerblue;
  position: relative;
  z-index: -6;
}
.container {
  height: 300px;
  width: 50%;
  background-color: rgba(143, 255, 16, 0.452);
  text-align: center;
  margin-bottom: -20px;
  position: relative;
  opacity: 10;
}
.title{
  margin: 0;
  background-color: aliceblue;
  position: relative;
}
.text {
  margin-top: -40px;
}
